{% extends "accounts/base.html" %}

{% block title %} Authentification | Password Done {% endblock title %}

{% block content %}

<div class="login100-form validate-form">
    <span class="login100-form-title">
        Email envoyé
    </span>
    
    <div class="text-center p-b-20" style="padding: 0 20px;">
        <i class="fa fa-check-circle" style="font-size: 60px; color: green;"></i>
        <p class="txt1" style="margin-top: 20px;">
            Nous vous avons envoyé par email les instructions pour réinitialiser votre mot de passe.
        </p>
        <p class="txt1">
            Si vous ne recevez pas d'email, vérifiez votre dossier spam ou contactez-nous.
        </p>
    </div>

    <div class="text-center p-t-60">
        <a class="txt2" href="{% url 'login' %}">
            <i class="fa fa-arrow-left"></i> Retour à la connexion
        </a>
    </div>
</div>

{% endblock content %}